[submodule "submodules/ontology-management-base"]
	path = submodules/ontology-management-base
	url = https://github.com/ASCS-eV/ontology-management-base.git
	branch = feat/unified-catalog-validation
	shallow = true

[submodule "submodules/service-characteristics"]
	path = submodules/service-characteristics
	url = https://gitlab.com/ascs-ev/service-characteristics.git
	branch = fix/envited-ontologies
	shallow = true

[submodule "submodules/w3id.org"]
	path = submodules/w3id.org
	url = https://github.com/reachhaven/w3id.org.git
	shallow = true
